<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="P6ORADEV" descriptor="(DESCRIPTION = &#xD;&#xA;(ADDRESS = &#xD;&#xA;(COMMUNITY = P6ORADEV.world) &#xD;&#xA;(PROTOCOL = TCP) &#xD;&#xA;(Host = 172.21.13.205) &#xD;&#xA;(Port = 1521) &#xD;&#xA;) &#xD;&#xA;(CONNECT_DATA = &#xD;&#xA;(SID = P6ORADEV)) &#xD;&#xA;(GLOBAL_NAME = P6ORADEV)) &#xD;&#xA;) &#xD;&#xA;);" />
        <dataSource alias="WDMR2G" descriptor="(DESCRIPTION = &#xD;&#xA;(ADDRESS = &#xD;&#xA;(COMMUNITY = WDMR2G.world) &#xD;&#xA;(PROTOCOL = TCP) &#xD;&#xA;(Host = 129.253.144.18) &#xD;&#xA;(Port = 1521) &#xD;&#xA;) &#xD;&#xA;(CONNECT_DATA = &#xD;&#xA;(SID = WDMR2G)) &#xD;&#xA;(GLOBAL_NAME = WDMR2G)) &#xD;&#xA;) &#xD;&#xA;);" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="DefaultConnection1" connectionString="Data Source=P6ORADEV;User Id=ods;Password=ods12345" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DefaultConnection" connectionString="Data Source=WDMR2G;User Id=ods;Password=ods12345" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DefaultConnection3" connectionString="Data Source=WDMR2G;User Id=repadmin;Password=repitanium;Min Pool Size=1;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=2; Decr Pool Size=2;Max Pool Size=2;Validate Connection = true" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="TelnetServer1" value="172.21.13.205" />
    <add key="TelnetPort1" value="22" />
    <add key="TelnetUserName1" value="oracledev" />
    <add key="TelnetPassword1" value="devreport13205%" />
    <add key="UnixScriptPath1" value="./INSITE/unixshell/" />
    <add key="log4net.Config" value="log4net.log4net" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="TelnetServer" value="129.253.144.18" />
    <add key="TelnetPort" value="23" />
    <add key="TelnetUserName" value="myreport" />
    <add key="TelnetPassword" value="WDMreport" />
    <add key="UnixScriptPath" value="./TEST/unixshell/" />
    <add key="CycleStart" value="10:00 AM" />
    <add key="CycleEnd" value="11:00 PM" />
    <add key="Delay" value="1800000" />
    <add key="RunningDelay" value="200000" />
    <add key ="KillDelay" value="20000"/>
    <add key="ProcessGet" value="Queries/Process/Get.txt" />
    <add key="ProcessGetList" value="Queries/Process/GetList.txt" />
    <add key="ProcessInsert" value="Queries/Process/Insert.txt" />
    <add key="ProcessUpdate" value="Queries/Process/Update.txt" />
    <add key="ProcessCheck" value="Queries/Process/Check.txt" />
    <add key="ProcessCheckRunning" value="Queries/Process/CheckRunning.txt" />
    <add key="TransactionGet" value="Queries/Transaction/Get.txt" />
    <add key="TransactionInsert" value="Queries/Transaction/Insert.txt" />
    <add key="TransactionDelete" value="Queries/Transaction/Delete.txt" />
    <add key="CurrentDate" value="Queries/SystemDate/Get.txt" />
    <add key="HistoryInsert" value="Queries/History/Insert.txt" />
    <add key="Database" value="Queries/Database/Get.txt" />
    <add key="SmtpHost" value="smtp.wdc.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpFrom" value="shahid.kochak@wdc.com" />
    <add key="SmtpTo" value="MUHAMMADASIM.NAEEM@wdc.com;shahid.kochak@wdc.com" />
    <add key="SmtpSubject" value="Please look into this process (Testing :))" />
    <add key="SmtpBody" value="Smtp/body.html" />
    <add key="SmsTo" value="36462" />
    <add key="SmsProcedure" value="ODS.SP_SEND_MESSAGE" />
    <add key="EmailOrSms" value="Email" />
    <add key ="Cycle1Interval" value="60000"/>
    <add key ="Cycle2Interval" value="120000"/>
  </appSettings>
</configuration>