<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WD.XLC.WIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="PostgreSQL" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <remove invariant="MySql.Data.Client" />
      <add name="MySQL Data Provider" invariant="MySql.Data.Client" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data, Version=8.0.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="FileCount" value="10" />
    <add key="log4net.Config" value="log4net.log4net" />
    <add key="log4net.Config.Watch" value="True" />
    <!--Only true or false-->
    <add key="IsRunning" value="false" />
    <!--Loader Interval Only Integer-->
    <add key="TimeInterval" value="1" />
    <!--Delete file days Only Integer-->
    <!--Delete files from instance folders Process,Ignore,Bad -->
    <add key="ArchiveDay" value="1" />
    <add key="DeleteTime" value="09:08" />
    <add key="DeleteFolders" value="Process" />
    <add key="CreateDeleteLog" value="false" />
    <add key="EnableFileProcessedCount" value="true" />
    <add key="UpdateDateTimeColumnName" value="ORA_UPDATE_DATE_TIME" />
    <add key="CreateDateTimeColumnName" value="ORA_CREATE_DATE_TIME"/>
    <add key="PDateColumnName" value="P_DATE" />
    <add key="UpdateDateColumnName" value="ORA_UPDATE_DATE" />
    <add key="PTNKeyColumnName" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>