<?xml version="1.0"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=8a82e6fadd7c5648">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="WireFrame" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=8a82e6fadd7c5648" />
      </databaseTypes>
      <instances>
        <instance name="WireFrame" type="Sql Server" connectionString="Default" />
      </instances>
      <connectionStrings>
        <connectionString name="Default">
          <parameters>
            <parameter name="DummyUser" value="secaccess" isSensitive="true" />
            <parameter name="DummyPwd" value="ruworthy" isSensitive="true" />
            <parameter name="Pooling" value="true" isSensitive="true" />
            <parameter name="ConnectTimeout" value="30" isSensitive="true" />
            <parameter name="MaxConnectionPool" value="100" isSensitive="true" />
            <parameter name="ConnectionLifeTime" value="0" isSensitive="true" />
            <parameter name="CmdTimeout" value="30"  isSensitive="true" />
          </parameters>
        </connectionString>
        <!--<connectionString name="GP_Database_Trusted">
          <parameters>
            <parameter name="database" value="Northwind" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="KCRB05D" isSensitive="false" />
          </parameters>
        </connectionString>-->
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>